<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <b>hallo world</b>
    <h1 align="center">today</h1>
    <p>To day is thuesday of september 22, even tho its not my Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim voluptate dolore temporibus voluptatibus a quam illo aliquid voluptates officia? Similique distinctio numquam quibusdam alias. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores porro aspernatur iure accusantium, sit eaque cum nobis facere ratione corrupti recusandae voluptate voluptas nemo voluptates cumque? Quasi, voluptas? Quia laborum laudantium ipsa neque. 
    </p>
</body>
</html>